.main-about {
    position: absolute;
    top: 45.5vh;
    left: 18.5vw;
    width: 100vw;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: #363636;
}

.japanese {
    position: absolute;
    top: 23vh;
    width: 100vw;
}

.name {
    margin: 0 0 2.7vh 0;
}

.main-about p {
    margin: 0 0 1vh 0;
}
