.profile {
    position: absolute;
    top: 45.5vh;
    left: 18.5vw;
    width: 100vw;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: #363636;
}

.japanese {
    position: absolute;
    top: 23vh;
    width: 100vw;
}

.name {
    margin: 0 0 2.7vh 0;
}

.profile p {
    margin: 0 0 1vh 0;
}

.main-top {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 16px;
    text-align: left;
    color: #000000;
}
.main-top span {
    letter-spacing: 1em;
    margin-right: -1em;
}
.main-top a {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 2.8px;
    text-align: left;
    color: #363636;
}
